/*
    Each of these Buttons on the Front Screen represent an Individual Store
*/

.buttonForLocations {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
    border: 5px solid Orange;
    opacity: 0.8;
    cursor: pointer;
}

.buttonForLocations:hover {
    opacity: 1;
}
